.Button {
  display: block;
  padding: 0.5rem 1rem;
  width: 100%;
  max-width: 10rem;
  color: #6a00bb;;
  background: #fff;
  transition: background 0.3s ease-in-out;
  text-align: center;
  margin: 0 0 1.5rem;
  text-decoration: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

.Button:hover,
.Button:focus {
  background: #ebadff;
}