.emoji-picker {
  position: relative;
}

.emoji-picker__popup {
  position: absolute;
  bottom: 100%;
  right: 0;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
  background: #fff;
}

.emoji-picker__list {
  display: flex;
  flex-wrap: wrap;
  width: 20rem;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 15rem;
  overflow: auto;
}

.emoji-picker__list__title {
  margin: 0;
  height: 3rem;
  display: flex;
  align-items: flex-end;
  padding: 0 1.5rem;
}

.emoji-picker__list__item {
  display: block;
  width: 25%;
  float: left;
}

.emoji-picker__button {
  margin: 0;
  background: #fff;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  width: 100%;
  transition: background 0.3s ease-in-out;
}


.emoji-picker__button:hover,
.emoji-picker__button:focus {
  background: #efefef;
}



.emoji-picker__categories {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 1rem;
  margin: 0;
}

.emoji-picker__category {
  flex-grow: 1;
  flex-basis: 0;
  line-height: 0;
  border-bottom: 3px solid transparent;
}

.emoji-picker__category__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  line-height: 1;
  height: 100%;
  opacity: 0.7;
}

.emoji-picker__category__button:hover,
.emoji-picker__category__button:focus {
  opacity: 0.9;
}

.emoji-picker__category__button img {
  width: 100%;
  display: block;
}

.emoji-picker__category--active {
  border-bottom-color: red;
}
