.emoji-picker {
  position: relative;
}

.emoji-picker__popup {
  position: absolute;
  bottom: 100%;
  right: 0;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
  background: #fff;
}

.emoji-picker__list {
  display: flex;
  flex-wrap: wrap;
  width: 20rem;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 15rem;
  overflow: auto;
}

.emoji-picker__list__item {
  display: block;
  width: 25%;
}

.emoji-picker__button {
  margin: 0;
  background: #fff;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}



.emoji-picker__categories {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 1rem;
  margin: 0;
}