*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

body {
  font-weight: 300;
  letter-spacing: 0.05em;
  background: #6a00bb;
  color: #fff;
  margin: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3, h4, h5, p {
  margin: 0 0 1.5rem;
}

button {
  background: transparent;
  padding: 0;
  cursor: pointer;
  border: none;
  font: inherit;
  line-height: inherit;
}

.button {
  display: block;
  padding: 0.5rem 1rem;
  width: 100%;
  max-width: 10rem;
  color: #6a00bb;;
  background: #fff;
  transition: background 0.3s ease-in-out;
  text-align: center;
  margin: 0 0 1.5rem;
  text-decoration: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: #ebadff;
}

main {
  padding: 0 1rem;
  max-width: 100rem;
  margin: 0 auto;
}

.header {
  padding: 2rem 1rem;
  text-align: center;
}

.header__title {
  font-weight: 100;
  letter-spacing: 0.1em;
  font-size: 3rem;
  margin: 0;
}

.header__title a {
  color: inherit;
  text-decoration: none;
}

.header__notification {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent !important;
  width: 4rem;
  padding: 1rem;
  line-height: 0;
  transition: opacity 0.5s ease-in-out;
}

.header__notification::before {
  content: '';
  display: block;
  width: 2.5rem; 
  height: 0.25rem;
  background: #fff;
  position: absolute;
  top: 35%;
  left: 61%;
  transform-origin: left top;
  margin-left: -1.25rem;
  margin-top: -0.125rem;
  transition: transform 0.5s ease-in-out;
}

.header__notification {
  opacity: 0.4;
}

.header__notification::before {
  transform: rotate(45deg);
}

.header__notification:hover,
.header__notification:focus {
  opacity: 1;
}

/* Having scaleX(0) in chrome 63 was making the animation not fire */
.header__notification.header__notification--granted::before {
  transform: rotate(45deg) scaleX(0.00001);
}



.header__notification svg {
  fill: #fff;
}


label {
  margin-bottom: 1.5rem;
  display: block;
}

[type="text"] {
  display: block;
  width: 100%;
  height: 3.125rem;
  line-height: 2.125rem;
  padding: 0.5rem;
  border: none;
  font: inherit;
  margin-bottom: 1.5rem;
}

.input-error {
  box-shadow: 0 0 2px 2px tomato;
}

.error-message {
  background: tomato;
  color: #fff;
  padding: 0.5rem;
  margin-top: -1rem;
}
