*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

html {
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  background: #6a00bb;
  color: #fff;
  margin: 0;
  font-size: 1.25rem;
}

h1, h2, h3, h4, h5, p {
  margin: 0 0 1.5rem;
}

button {
  background: transparent;
  padding: 0;
  cursor: pointer;
  border: none;
  font: inherit;
  line-height: inherit;
}

main {
  padding: 0 1rem;
  max-width: 100rem;
  margin: 0 auto;
}



label {
  margin-bottom: 1.5rem;
  display: block;
}

[type="text"] {
  display: block;
  width: 100%;
  height: 3.125rem;
  line-height: 2.125rem;
  padding: 0.5rem;
  border: none;
  font: inherit;
  margin-bottom: 1.5rem;
}





/* TODO add error styling with css modules */

.input-error {
  box-shadow: 0 0 2px 2px tomato;
}

.error-message {
  background: tomato;
  color: #fff;
  padding: 0.5rem;
  margin-top: -1rem;
}
